# Exclude the ZIP file
themeforest-DGaGuxl5-limitless-responsive-web-application-kit.zip
themeforest-DGaGuxl5-limitless-responsive-web-application-kit/bs4/limitless_v3.zip

# Exclude the folder
themeforest-DGaGuxl5-limitless-responsive-web-application-kit/